# `analyzing-KPop`
K-pop is growing popularity, and there's no sign of stopping. With this, let's find out its various trends! Simply put, this program analyzes trends within **K-Pop idols, groups, and music videos from 1992 to 2020.** For more information, kindly read the [informational document](https://github.com/buzz-lightsnack-2007/analyzing-KPop/blob/main/ReadMe.md).

## Load It Up!

### Loading Functions
Let's load the necessary modules and functions. **Please always run this function first.**

In [1]:
# Loading Functions
# Formatting
formatting = {
	'clear': '\033[0m',
	'color': {
		'purple': '\033[95m',
		'cyan': '\033[96m',
		'cyan_dark': '\033[36m',
		'blue': '\033[94m',
		'green': '\033[92m',
		'yellow': '\033[93m',
		'red': '\033[91m'
	},
	'font': {
		'bold': '\033[1m',
		'underline': '\033[4m'
	}
}

# Screen messages
def info_status(message):
	print(formatting['font']['bold'] + 'Status: \t' + formatting['clear'] + message)
def info_err(message):
	print(formatting['font']['bold'] + formatting['color']['red'] + '🗙 Error: \t' + formatting['clear'] + formatting['clear'] + message)
def info_warning(message):
	print(formatting['font']['bold'] + formatting['color']['yellow'] + '⚠ Warning: \t' + formatting['clear'] + formatting['clear'] + message)
def info_success(message):
	print(formatting['font']['bold'] + formatting['color']['green'] + '✓ Success: \t' + formatting['clear'] + formatting['clear'] + message)

try: 
	# Import modules. 
	import os
	import pandas
	import matplotlib
	
except: 
	info_err("Your runtime is missing either pandas or MatPlotLib.")
	exit()
else: 
	info_success("The necessary modules have been loaded properly. ")

✓ Success: 	The necessary modules have been loaded properly.

### Loading Files
Let's check if the files are there!

In [2]:
# Loading Files
def load_check_files(): 
	"""
		This function checks if there are any files inside the data/kpop_idols folder. 

		Parameters: none
		Returns: dictionary containing the major data folder directory and the list of CSV files
	"""
	# Create return variable. 
	directory_suggested = {}

	# Generate list of directories. Kindly change this if you placed the four files elsewhere. 
	directory_list_names_expected = ['data/', 'data/kpop_idols/']

	for directory_name in directory_list_names_expected:
		# Generate the folder's details. 
		directory_contents = sorted(os.listdir(directory_name))

		# expected contents
		directory_expected_contents = ['kpop_idols_boy_groups.csv', 'kpop_idols_girl_groups.csv', 'kpop_idols.csv', 'kpop_music_videos.csv']

		if (sorted(directory_contents) == sorted(directory_expected_contents)): 
			directory_suggested['path'] = directory_name
			directory_suggested['contents'] = directory_contents

			# Let the user know that it is working. 
			info_success(("Files found at folder " + directory_name + " relative to this file."))

			# Return the data. 
			return(directory_suggested)
		
	else: 
		info_err("Folder not found! You might have probably selected the wrong directory; in this case, you may edit the directory_list_names_expected variable. If not, make sure that the files are named properly. ")

try: 
	data_source = load_check_files()
except NameError as e: 
	print("Please always run the first function above when opening this notebook.")
except: 
	info_err("Folder not found! You might have probably selected the wrong directory; in this case, you may edit the directory_list_names_expected variable.")

✓ Success: 	Files found at folder data/kpop_idols/ relative to this file.

## Convert
Convert the list to a readable type. _You must have already run the previous two cells._

In [3]:
def data_convert(data_source): 
	"""
		Convert the data to a pandas dataframe. 

		Parameters: 
			data_source: (str)the CSV file
		Returns: pandas dataframe
	"""

	# Convert to pandas data frame. 
	data = pandas.read_csv(data_source)

	# Return the data frame. 
	return(data)

def data_convert_all(data_source): 
	"""
		Convert all of the databases. 

		Parameters: 
			data_source: (dict) containing the directory and the CSV name
		Returns: dictionary containing the datas
	"""

	# Create the database dictionary. 
	data_all = {}

	# Convert the data. 
	for data_source_CSV in data_source['contents']: 
		data_all[data_source_CSV[:-4]] = data_convert((data_source['path']+ data_source_CSV))
	
	# Return the dictionary. 
	return(data_all)

# Save the data into a database. 
database = data_convert_all(data_source)

# database as output 
database

{'kpop_idols':      Stage Name      Full Name Korean Name K. Stage Name Date of Birth  \
 0           A.M  Seong Hyunwoo         성현우           에이엠    1996-12-31
 1           Ace  Jang Wooyoung         장우영           에이스    1992-08-28
 2          Aeji      Kwon Aeji         권애지            애지    1999-10-25
 3          AhIn       Lee Ahin         이아인            아인    1999-09-27
 4          Ahra        Go Ahra         고아라            아라    2001-02-21
 ...         ...            ...         ...           ...           ...
 1305        Ziu    Park Heejun         박희준            지우    1997-06-16
 1306         ZN      Bae Jinye         배진예            지엔    1994-06-09
 1307        Zoa     Cho Hyewon         조혜원            조아    2005-05-31
 1308       Zuho       Bae Juho         백주호            주호    1996-07-04
 1309       Zuny      Kim Joomi         김주미            주니    1994-12-08

              Group      Country Birthplace Other Group Gender
 0        Limitless  South Korea        NaN         NaN      M
 1              VAV  South Korea        NaN         NaN      M
 2          Hashtag  South Korea      Daegu         NaN      F
 3         MOMOLAND  South Korea      Wonju         NaN      F
 4         Favorite  South Korea      Yeosu         NaN      F
 ...            ...          ...        ...         ...    ...
 1305           VAV  South Korea        NaN         NaN      M
 1306        LABOUM  South Korea    Bucheon       UNI.T      F
 1307       Weeekly  South Korea        NaN         NaN      F
 1308           SF9  South Korea        NaN         NaN      M
 1309  Ladies' Code  South Korea    Gwangju         NaN      F

 [1310 rows x 10 columns],
 'kpop_idols_boy_groups':                Name Short Korean Name       Debut       Company  Members  \
 0              100%   NaN        백퍼센트  2012-09-18     TOP Media        4
 1               14U   NaN         원포유  2017-04-17            BG       14
 2             1the9   NaN        원더나인  2019-02-09           MBK        9
 3               24K   NaN        투포케이  2012-09-06        Choeun        8
 4               2AM   NaN        투에이엠  2008-06-21  JYP, Big Hit        4
 ..              ...   ...         ...         ...           ...      ...
 142        VROMANCE   NaN        브로맨스  2016-06-12           RBW        4
 143       Wanna One   NaN         워너원  2017-08-07           YMC       11
 144  We In The Zone   NaN        위인더존  2019-05-27         Choon        5
 145          WINNER   NaN          위너  2014-08-12            YG        4
 146            ZE:A   NaN     제국의 아이들  2010-01-07   Star Empire        9

      Orig. Memb. Fanclub Name  Active
 0              7   Perfection     Yes
 1             14          NaN     Yes
 2              9          NaN     Yes
 3              6          24U     Yes
 4              4         I Am      No
 ..           ...          ...     ...
 142            4          NaN     Yes
 143           11     Wannable      No
 144            5          NaN     Yes
 145            5          Ace     Yes
 146            9   ZE:A Style  Hiatus

 [147 rows x 9 columns],
 'kpop_idols_girl_groups':              Name         Short Korean Name       Debut    Company  Members  \
 0        (G)I-DLE           NaN     (여자)아이들  2018-05-02       Cube        6
 1             15&           NaN       피프틴앤드  2012-10-05        JYP        2
 2           2EYES           NaN        투아이즈  2013-07-20    SidusHQ        4
 3            2NE1           NaN        투애니원  2009-05-06         YG        4
 4             3YE           NaN        써드아이  2019-05-21         GH        3
 ..            ...           ...         ...         ...        ...      ...
 147      We Girls           NaN         위걸스  2018-08-31  Afternoon        8
 148     Weki Meki          WeMe        위키미키  2017-08-08   Fantagio        8
 149          WJSN  Cosmic Girls        우주소녀  2016-02-25   Starship       13
 150  Wonder Girls            WG        원더걸스  2007-02-13        JYP        4
 151    Yellow Bee           NaN         옐로비  2017-11-23  Addiction        5

      Orig. Memb. Fanclub Name Active
 0              6          NaN    Yes
 1              2          NaN     No
 2              5          NaN     No
 3              4    Blackjack     No
 4              3          NaN    Yes
 ..           ...          ...    ...
 147            8          NaN    Yes
 148            8          NaN    Yes
 149           12        Ujung    Yes
 150            5    Wonderful     No
 151            5          NaN    Yes

 [152 rows x 9 columns],
 'kpop_music_videos':             Date              Artist                      Song Name  \
 0     2020-05-22             Agust D                      Daechwita
 1     2020-05-21               Yubin                 yaya (Me Time)
 2     2020-05-21           OnlyOneOf             Angel (prod. GRAY)
 3     2020-05-20         Ryu Sujeong                     Tiger Eyes
 4     2020-05-20               Crush  Mayday feat. Joy (Red Velvet)
 ...          ...                 ...                            ...
 3767  1994-08-08  Seo Taiji and Boys                       Eternity
 3768  1993-06-06  Seo Taiji and Boys                    Anyhow Song
 3769  1993-06-06  Seo Taiji and Boys                         To You
 3770  1992-03-23  Seo Taiji and Boys                         I Know
 3771  1992-03-23  Seo Taiji and Boys            You, In The Fantasy

      Korean Name Director                         Video       Type Release
 0            대취타      NaN  https://youtu.be/qGjAWJ2zWWI   Boy Solo   Major
 1             넵넵      NaN  https://youtu.be/BJD0arHF_5c  Girl Solo   Major
 2            NaN      NaN  https://youtu.be/vVTo8p72FxQ        Boy   Major
 3            NaN      NaN  https://youtu.be/aE6curPGQRY  Girl Solo   Major
 4           자나깨나      NaN  https://youtu.be/29ycT6fA-Rs   Boy Solo   Major
 ...          ...      ...                           ...        ...     ...
 3767          영원      NaN  https://youtu.be/74usU0gB7r0        Boy   Minor
 3768         하여가      NaN  https://youtu.be/L-AxO7EPU8c        Boy   Major
 3769         너에게      NaN  https://youtu.be/cxIAiAUyvXo        Boy   Minor
 3770       난 알아요      NaN  https://youtu.be/OEDHEzs5kyk        Boy   Major
 3771     환상속의 그대      NaN  https://youtu.be/KGcwGoXfUDk        Boy   Minor

 [3772 rows x 8 columns]}

## On Idols
Let's gather up some statistics on the idols.

### Surnames
How much are their surnames different?

In [14]:
def name_extract(name, section = 1): 
	"""
		Extract the specified part of the name following the East Asian naming format, which always has surnames at the front.

		Parameters: 
			name: (str) the name
			section: (int) the part of the name to use, in which "0" means no change, "1" stands for the last name while "2" stands for the first name
		Returns: cleaned name
	"""

	# Make sure that the input is correct. 
	section = abs(int(section))
	if (section > 2): 
		section = 0

	# Return the correct section of the name. 
	if section == 1: 
		return(name[0])
	elif section == 2: 
		return(name[1:3])
	else: 
		return(name)

def analyze_surnames(dataset, column_name_key): 
	"""
		Analyze the surnames following the East Asian naming format.  

		Parameters: 
			dataset: (pandas dataframe) the dataset containing names
			column_name_key: (str) the key of the column containing the names
		Returns: none
	"""

	# Get the specific data. 
	names_data = dataset[column_name_key]

	# Convert the values to a list. 
	names = names_data.values.tolist()

	# Create placeholder for surnames list. 
	names_surnames = []

	# Extract the surnames. 
	for index in range(len(names)): 
		print(names[index][0])

	return(names_surnames)
	
analyze_surnames(database['kpop_idols'], 'Korean Name')

성
장
권
이
고
조
강
이
김
허
김
송
앨
엠
이
엔
손
박
김
황
전
최
곽
하
애
양
박
노
이
김
김
이
이
김
김
강
변
꾼
방
차
최
진
김
최
최
진
배
최
유
남
김
배
김
이
정
매
권
김
김
김
김
박
윤
최
김
김
최
윤
김
전
진
이
최
방
차
저
손
차
김
최
김
채
윤
이
박
이
맹
김
김
송
정
김
이
손
이
박
정
강
조
서
우
송
최
이
이
강
김
황
박
김
김
김
청
중
장
지
최
박
허
최
최
박
김
이
김
이
신
홍
이
조
도
이
장
정
김
강
정
대
이
황
송
김
정
송
유
김
이
이
홍
후
박
강
전
안
박
김
이
남
이
조
이
김
김
임
김
박
김
이
디
이
김
김
윤
남
김
김
전
나
송
이
김
이
이
김
김
김
김
문
곤
손
이
장
손
윤
윤
김
김
김
전
박
김
이
노
전
박
엘
쫑
김
정
방
손
김
이
홍
이
최
권
권
권
정
신
이
허
곽
정
홍
안
마
문
박
최
함
홍
서
이
손
이
정
차
주
추
왕
이
권
최
정
김
박
조
이
리
이
손
범
허
김
백
김
김
이
박
정
김
고
김
공
박
문
김
김
곽
양
이
이
조
권
한
박
장
유
한
이
염
이
전
이
정
나
윤
이
박
이
이
조
한
한
한
한
신
정
안
한
이
이
안
신
도
김
구
주

TypeError: 'float' object is not subscriptable